# npm files
node_modules
yarn-error.log


# linux system
nohup*
.log.txt


# submodule
subwiki
img


# some ignore folder
localignore
# trashbin
trash

# tw5
\$__Import.tid
output
public
\$__StoryList*
Draft*
\$__xp_manageTags_tagging.tid
# \$__themes_nico_notebook_ui_Bottombar.tid
# \$__themes_nico_notebook_ui_Topbar.tid


# tiddlers/\$__config_muuri_storyview_drag-enabled.tid
tiddlers/\$__config_muuri_storyview_columns.tid
# 2022hkw.json
# 2022hkw*.tid

\$__state_notebook-sidebar*.tid
# in mobile, this is a bug
#$__state_notebook-sidebar.tid
\?

-\$*
