output
# public/*.html
public
node_modules
nohup*
.log.txt
*\$__StoryList*
Draft*

\$__Import.tid
# \$__themes_nico_notebook_ui_Bottombar.tid
# \$__themes_nico_notebook_ui_Topbar.tid
\$__plugins_felixhayashi_tiddlymap*
# \$__todolist*
# \$__trashbin*

\$__xp_manageTags_tagging.tid

\$__livenote*
# 202*.json

tiddlers/\$__config_muuri_storyview_columns.tid

# tiddlers/\$__config_muuri_storyview_drag-enabled.tid

\$__state_notebook-sidebar*

# submodule
subwiki
img

# local foler
2022hkw
deprecated
livenote

yarn-error.log
