[Unit]
Description=TiddlyWiki5 Service
Documentation=https://oeyoews.top
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=oeyoews
ExecStart=/home/oeyoews/.npm/bin/tiddlywiki /home/oeyoews/Repos/TiddlyWiki5 --listen port=8090
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
