[data-tags~="zyale"]{ background: linear-gradient(to right, #363794 0%, #E2F2F8 50px, #ffffff 40%);}
[data-tags~="zolive"]{ background: linear-gradient(to right, #757519 0%, #F7F8EC 50px, #ffffff 40%);}
[data-tags~="zmaroon"]{ background: linear-gradient(to right, #A41029 0%, #FDE9EA 50px, #ffffff 40%);}
[data-tags~="ziron"]{ background: linear-gradient(to right, #48494b 0%, #EEF3FB 50px, #ffffff 40%);}
[data-tags~="zclay"]{ background: linear-gradient(to right, #813F0B 0%, #FFF7EE 50px, #ffffff 40%);}

