/* Colors taked from [1] https://www.w3schools.com/colors/colors_names.asp 
[2] http://www.workwithcolor.com/color-chart-full-01.htm*/
/*Low tone background colors*/
[data-tags~="mistyrose"]{background-color:#ffe4e1;}
[data-tags~="lemonchiffon"]{background-color:#fffacd;}
[data-tags~="lavenderblush"]{background-color:#fff0f5;}
[data-tags~="lavender"]{background-color:#e6e6fa;}
[data-tags~="honeydew"]{background-color:#f0fff0;}
[data-tags~="lightcyan"]{background-color:#e0ffff;}
[data-tags~="aliceblue"]{background-color:#f0f8ff;}
[data-tags~="cornsilk"]{background-color:#fff8dc;}
[data-tags~="gainsboro"]{background-color:#dcdcdc;}
[data-tags~="bisque"]{background-color:#ffe4c4;}
[data-tags~="snow"]{background-color:#FFFAFA;}