.ask-user-reload {
    padding: 25px;
    position: absolute;
    bottom: 10px;
    right: 5px;
    z-index: 9999;
    cursor: pointer;
		border-radius: 3px;
		background: linear-gradient(to right, #007991, #78ffd6);
		color: #071b09;
		box-shadow: 1px 5px 5px #0000004d;
		transition: 1s;
		align-items: center;
		font-size: 16px;
  }
	
.ask-user-reload:hover {
		background: linear-gradient(45deg, #007991, #78ffd6);
  }
  .ask-user-reload-close {
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    font-weight: bold;
  }