name: Release
on:
  push:
    branches:
      - tw6
      - tws
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: |
            **/node_modules
          #key: ${{ runner.os }}-${{ hashFiles('**/package.json') }}
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 'lts/*'
      - name: Install dependencies
        #run: npm ci
        run:  yarn install
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release
